VITE_APP_NAME=BlockSweeper
VITE_APP_DESCRIPTION=MiniPay mini app for onchain minesweeper sessions
VITE_BLOCKSWEEPER_REGISTRY_CELO_SEPOLIA=0xe8701E0C2cdb6708d98343572E63CFe7118A62C8
VITE_BLOCKSWEEPER_REGISTRY_CELO=
VITE_API_BASE_URL=http://localhost:3001
